@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "navigation";
	src: url("../../public/assets/navigation.ttf");
}
@font-face {
	font-family: "Proxima Nova";
	font-weight: 200;
	src: url("../../public/assets/proximanova-light.ttf");
}
@font-face {
	font-family: "Proxima Nova";
	font-weight: 400;
	src: url("../../public/assets/proximanova-regular.ttf");
}
@font-face {
	font-family: "Proxima Nova";
	font-weight: 600;
	src: url("../../public/assets/proximanova-semibold.ttf");
}
